---
---

@import "{{ site.theme }}";

// Custom global colors
h1, h2, h3 {
  color: #23395B; /* Dark navy headers */
}

a {
  color: #BEDA1F; /* Custom link accent */
}

hr {
  border: 0;
  height: 1px;
  background: #FFF9EC;
  margin: 2em 0;
}
